 <div class="avatar">
   <img src="assets/img/Rohit.jpg" alt="Avatar">
</div>

 <div class="user-details">
  <p> Hi, I’m Rohit KUlkarni, a graduate student in Statistics and Data Science at Rutgers University, with a solid foundation in machine learning, natural language processing, and data engineering. My professional journey includes roles as a Machine Learning Engineer at AI Assistant Co., an Analytics Consultant at Fractal Analytics, and most recently, a Data Science Intern at MediCodio. I’ve collaborated with cross-functional teams across healthcare technology, consumer packaged goods (CPG) consulting, and HR tech, delivering scalable data science and AI-driven solutions. My work has focused on enhancing operational efficiency, automating regulatory processes, and optimizing customer and candidate engagement. Whether improving decision-making in retail analytics, boosting profitability in healthcare systems, or advancing talent strategies in recruitment platforms, I’m driven by building data-powered products that deliver measurable business impact.</p></p>
  <p> I approach problem-solving with a blend of analytical rigor and creative thinking, delivering high-impact solutions that align with business goals. With expertise in building robust data infrastructures, developing predictive models, and designing data-driven products, I focus on transforming complex data into actionable strategies that drive measurable outcomes. Whether collaborating with cross-functional teams or leading technical initiatives, I bring a commitment to clean, efficient solutions and a collaborative spirit to every project. </p>
  <p> Outside of work, I’m an avid poker player, with deep interests in 90s and 00s rock and alternative bands, finance, history, and American football (go Seahawks!). These passions keep me curious, strategic, and always learning—qualities I carry into both my personal and professional life. I thrive in environments where innovation is encouraged, and continuous growth is part of the culture. </p> </p>
  <p> I’m currently seeking opportunities where I can leverage my technical skills, business acumen, and creative mindset to build impactful solutions at scale. </p>

 </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Analyzing </h2>
  <div class="icons">
      <i class="icon fas fa-file-csv"></i>
      <i class="icon fas fa-microscope"></i>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <p>
     Proficient in analyzing large-scale datasets, from structured data to unstructured text and images. I extract actionable insights using advanced machine learning and deliver intuitive visualizations to support data-driven decisions.
    </p>

  </div>

  <div class="tech">
    <h2>Developing</h2>
  <div class="icons">
      <i class="devicon-python-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain"></i>
    </div>
    <p>
      I build scalable machine learning pipelines, from data ingestion to model deployment, ensuring prototypes evolve into reliable, production-ready services. Experienced in designing robust data engineering workflows that streamline data processing, integration, and governance across cloud platforms.
    </p>
  </div>
  <div class="tech">
    <h2>Communicating</h2>
  <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-pencil-alt"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p>
     I enjoy translating complex ideas into clear, accessible insights through public speaking, writing, and cross-functional collaboration. Experienced in engaging both technical and non-technical stakeholders, I effectively communicate research findings and project outcomes with clarity and impact.
    </p>
  </div>
</div>
