<div class="user-details">
  <h1> Professional Experience </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/images.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Advanced American Options Pricing Chatbot </h3>
    <p><strong>Challenge:</strong> Traditional American options pricing models, such as the binomial tree, often struggle to capture complex market behaviors like volatility clustering, dynamic market regimes, and early exercise probabilities—limiting their accuracy and adaptability in real-world trading environments.</p>
    <p><strong>Approach:</strong> I developed and deployed an Neural Network-powered options pricing and analysis platform that combines traditional pricing models with trader-intuition features and liquidity metrics. Additionally, I built a synthetic data generation engine simulating complex market scenarios to enhance model robustness. The solution was deployed on Google Cloud Platform using Vertex AI for scalable training and BigQuery for efficient data management. An NLP-based querying tool was also integrated to enable real-time scenario analysis and model comparison.</p><p><strong>Outcome:</strong> The platform improved pricing accuracy by 35% over traditional models and empowered traders to conduct dynamic scenario analyses, adjust key market parameters, and make data-driven decisions more effectively. The synthetic data engine ensured robustness across varied market conditions, significantly enhancing model reliability and practical usability.</p>
    <p align="center"><a class="project-link" href="https://github.com/rohitkulkarni08/am-options-pricing">Check it out</a></p>
  </div>
</div>
