<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mitigating Gender Bias in Word Embeddings </h3>
    <p>Reduced gender bias by 68% in GloVe embeddings using adversarial training & counterfactual augmentation.
      Improved fairness in downstream hiring tasks.</p>
      <p align="center"><a class="project-link" href="https://github.com/RitikRawat/Mitigating-Bias-in-Word-Embeddings">Check it out</a></p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/galaxy.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Word Sense Disambiguation in Biomedical Text</h3>
    <p>Implemented Markov clustering on PubMed data, achieving 85% accuracy in resolving ambiguous terms.
      Enhanced text-mining for research corpora.</p>
      <p align="center"><a class="project-link" href="https://github.com/RitikRawat/Word-Sense-Disambiguation-in-Biomedical-Text">Check it out</a></p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/galaxy.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Image Super-Resolution</h3>
    <p>Utilized SRGAN + self-supervised learning to upscale images by 400%,
      enhancing clarity while reducing storage by 75%.</p>
      <p align="center"><a class="project-link" href="https://github.com/RitikRawat/Super-Resolution\">Check it out</a></p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/galaxy.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Stock Price Prediction with Sentiment Analysis</h3>
    <p>Hybrid LSTM-GRU model combining tweet sentiment and time series data,
      achieving ~90% predictive accuracy on stock trends.</p>
      <p align="center"><a class="project-link" href="https://github.com/RitikRawat/Super-Resolution\">Check it out</a></p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/galaxy.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Facial Expression Recognition</h3>
    <p>Trained CNNs on FER2013 for 7-class emotion detection, reaching 75% accuracy.
      Demo includes real-time camera input for live recognition.</p>
      <p align="center"><a class="project-link" href="https://github.com/RitikRawat/Super-Resolution\">Check it out</a></p>
  </div>
</div>

</div>
