#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;

  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.user-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 40px auto;

  // Alternate layout for even sections
  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
  }

  h5 {
    margin: 0;
  }

  p {
    margin-bottom: 0.8rem;
    line-height: 1.6;
  }

  a {
    color: $sec;
  }
}

.images-left,
.images-right,
.contents-left,
.contents-right {
  width: 48%;

  @media only screen and (max-width: $cut) {
    width: 100%;
    text-align: center;
  }
}

// Optional: vertically center text content
.contents-left,
.contents-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.project-link {
  display: inline-block;
  margin: 10px 0px;
  padding: 5px;
  color: $sec;
  background-color: transparent;
  border: 1px solid $sec;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: $sec;
    border-color: $sec;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: $sec;
    border-color: $sec;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}
