#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.user-projects {
  margin: 40px auto;
  overflow: hidden; // contains floated children

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
  }

  h5 {
    margin: 0;
  }

  li {
    color: $sec;
    font-size: 1.1rem;
  }

  p {
    margin-bottom: 0.8rem;
    line-height: 1.6;
  }

  a {
    color: $sec;
  }
}

// TEXT on the RIGHT
.contents-right {
  width: 48%;
  float: right;

  @media only screen and (max-width: $cut) {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

// TEXT on the LEFT
.contents-left {
  width: 48%;
  float: left;

  @media only screen and (max-width: $cut) {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

// IMAGE on the RIGHT
.images-right {
  width: 48%;
  float: right;

  @media only screen and (max-width: $cut) {
    float: none;
    width: 100%;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

// IMAGE on the LEFT
.images-left {
  width: 48%;
  float: left;

  @media only screen and (max-width: $cut) {
    float: none;
    width: 100%;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}


.project-link {
  display: inline-block;
  margin: 10px 0px;
  padding: 5px;
  color: $sec;
  background-color: transparent;
  border: 1px solid $sec;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: $sec;
    border-color: $sec;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: $sec;
    border-color: $sec;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}
